<h1>Account Summary</h1>

<div class="balance">
  Checking: <%= @user.checking_balance %>
  Savings: <%= @user.savings_balance %>
  Credit: <%= @user.credit_balance %>
</div>

<div>
  <button>Manage</button>
  <button>Transfers</button>
  <button>Summary</button>
</div>


exi