<!DOCTYPE html>
<html>
<head>
  <title>AbcBankDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>

<%= yield %>

<script>
  $('.background').load(function(){
     this.addClass("mobile_web")
  })
</script>
</body>
</html>
